<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<head th:replace="partials/header.html :: header">-->
    <meta charset="UTF-8">
    <title>Edit Posts</title>
</head>
<body>
<!--<nav th:replace="partials/navbar.html :: navbar"></nav>-->

<form th:action="@{|/post/edit/${postEditedPost.id}|}" method="post">
    <div class="input-group mb-3">
        <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
        <input type="text" class="form-control" name="title" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group">
        <span class="input-group-text">Body</span>
        <textarea class="form-control" name="body" aria-label="With textarea"></textarea>
    </div>
    <button class="btn btn-outline-secondary" type="submit" id="saveEditPost">Submit Edits</button>
</form>

</body>
</html>