<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Roll Dice</title>
</head>
<body>

<h3>Provide a number between 1 and 6: </h3>
<h3>Your guess: </h3>
<h4><span th:text="${userGuess}"></span></h4>
<h3>Random number: </h3>
<h4><span th:text="${guess}"></span></h4>


<a href="/roll-dice/1">1</a>
<a href="/roll-dice/2">2</a>
<a href="/roll-dice/3">3</a>
<a href="/roll-dice/4">4</a>
<a href="/roll-dice/5">5</a>
<a href="/roll-dice/6">6</a>

<th:block th:if="${hasGuessed}">
    <div th:if="${userGuess == guess}">Congratulation, your guess right!</div>
    <div th:unless="${userGuess == guess}">guessed wrong</div>
</th:block>
</body>
</html>